* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: 'Merriweather';
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 7%;
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 988;
}

.navbar .logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.navbar .logo p {
    font-family: 'poppins';
    color: rgb(255, 255, 255);
}

.navbar .logo img {
    width: 2rem;
}

.navbar-nav a {
    font-family: 'poppins';
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 1.3rem;
    height: 20px;
    width: 50px;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.5s ease;
    padding-bottom: 2px;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    text-align: center;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    text-align: center;
}

.navbar-nav a {
    text-decoration: none;
    position: relative;
    color: rgb(255, 255, 255);
    transition: color 0.3s, border-bottom-width 0.3s;

}

.navbar-nav a::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 1px; 
    background-color: rgb(255, 0, 0);
    transition: width 0.3s;
}

.navbar-nav a:hover {
    color: rgb(255, 0, 0); 
}

.navbar-nav a:hover::after {
    width: calc(65% - 20px);
}

.main {
    height: ;
}

.main h1 {
    text-align: center;
    font-size: 45px;
    padding-top: 300px;
    padding-right: 600px;
}

.main p {
    position: relative;
    text-align: center;
    top: -500px;
    left: -300px;
}

.main img {
    position: relative;
    width: 500px;  
    height: auto;
    left: 950px;
    top: -250px;
}

.vimi {
    height: 100vh;
    width: 100vw;
}

.vimi {
    align-items: center;
    text-align: center;
    padding-top: 50vh;
    font-family: poppins;
}

.vimi h2 {
    font-size: 30px
}

.vimi p {
    font-size: 20px;
}
